# win
*.bat eol=crlf
*.cmd eol=crlf

# linux
*.sh eol=lf

# project
.dockerignore eol=lf
.gitignore eol=lf

*.txt eol=lf
*.md eol=lf

*.java eol=lf
*.xml eol=lf
*.yml eol=lf

*.ftlh eol=lf
*.html eol=lf
*.js eol=lf
*.css eol=lf

*.sql eol=lf
*.json eol=lf
